<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1> Kreator </h1>
            <p> La banda se formó en el año 1982 crecimiento de la habilidad técnica y el talento de los integrantes de la banda. El tema “Flag of Hate” (Bandera de odio) se convirtió en el primer éxito de Kreator y la banda llegó en ese momento a ser una de las bandas nuevas más prometedoras en los festivales de Metal en Europa. </p>
        </div>
        <div class="col-4">
            <img src="/assets/kreator.png" class="img-thumbnail">
        </div>
    </div>
    
    {{> footer }}
</body>
</html>